@import '@/assets/styles/breakpoints.scss';
@import '@/assets/styles/colors.scss';
@import '@/assets/styles/variables.scss';

$grid_border: 2px solid $blue;

.board {
  width: 100%;
  min-height: 100vh;
  padding: $container_padding_xsmall;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $light-grey;

  h1 {
    font-family: 'GlacialBold', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2.0rem;
    text-align: center;
  }

  .game__type {
    display: flex;
    place-content: center;
    margin-bottom: 20px;

    p {
      background-color: $white;
      height: 40px;
      font-size: 1.3rem;
      line-height: 40px;
      border-radius: 5px;

      span {
        display: inline-block;
        width: 140px;
        text-align: center;
        cursor: pointer;

        &.selected {
          background-color: $dark-grey;
          color: $white;
          border-radius: 5px;
        }
      }
    }
  }

  .game__area {
    height: 55vh;

    .game__board {
      height: 100%;
      display: grid;
      background-color: $blue;
      gap: 2px;

      &.game-3 {
        grid-template-columns: repeat(3, 1fr);
       
      }

      &.game-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      .game__square {
        display: flex;
        place-content: center;
        background-color: $white;
        cursor: pointer;

        img {
          width: 80%;
          height: auto;
        }
      }

    }
  }

  .game__statistics {
    display: flex;
    justify-content: space-between;

    .player {

      p {
        font-family: 'GlacialBold', sans-serif;
        font-size: 1.5rem;
        text-align: center;

        & + p {
          margin-top: 10px;
          font-size: 2.5rem;
        }
      }
    }

    .timer {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (min-width: $large) {
  .board {
    padding: $container_padding_large;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: $xlarge) {
  .board {
    padding: $container_padding_xlarge;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}