@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;

  body {
    min-height: 100%;
    background-color: $white;
    font-family: 'GlacialRegular', sans-serif;
  }
}

