@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #app {
  height: 100%;
}

#app {
  background-color: $white;
  font-family: 'GlacialRegular', sans-serif;
  color: $black;
}

